    .list-images-work {
        margin: 0;
        padding-bottom: 30px;
    }

    .name-staff {
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        color: var(--titel-link-color);
        margin-bottom: 10px;
    }

    .about-staff {
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        color: var(--p-text-color);
        margin-bottom: 16px;
    }

    .name-staf-cards {
        display: block;
        text-align: center;
        padding: 30px;
    }

    .about-team-back {
        width: 270px;
    }

    .our-advantages {
        padding-top: 60px;
        padding-bottom: 60px;
        background: var(--bacground-color-advantages);

        .about-team-back {
            background: var(--bacground-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
    }

    .team-work {
        text-align: center;
    }

    .profi {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
@media screen and (min-width: 480px) {
    .list-images-work {
        margin: 0;
        padding-bottom: 30px;
    }
    .name-staff {
            font-size: 16px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            color: var(--titel-link-color);
            margin-bottom: 10px;
        }
    
        .about-staff {
            font-size: 16px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            color: var(--p-text-color);
            margin-bottom: 16px;
        }
    
        .name-staf-cards {
            display: block;
            text-align: center;
            padding: 30px;
        }
    
        .about-team-back {
            width: 450px;
        }
    
        .our-advantages {
            padding-top: 60px;
            padding-bottom: 60px;
            background: var(--bacground-color-advantages);
    
            .about-team-back {
                background: var(--bacground-color);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 0px 4px 4px;
            }
        }
    
        .team-work {
            text-align: center;
        }
    
        .profi {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
}
@media screen and (min-width: 768px) {
    .list-images-work {
        margin: 0;
        padding-bottom: 30px;
    }
    .name-staff {
            font-size: 16px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            color: var(--titel-link-color);
            margin-bottom: 10px;
        }
    
        .about-staff {
            font-size: 16px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            color: var(--p-text-color);
            margin-bottom: 16px;
        }
    
        .name-staf-cards {
            display: block;
            text-align: center;
            padding: 30px;
        }
    
        .about-team-back {
            width: 354px;
        }
    
        .our-advantages {
            padding-top: 60px;
            padding-bottom: 60px;
            background: var(--bacground-color-advantages);
    
            .about-team-back {
                background: var(--bacground-color);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 0px 4px 4px;
            }
        }
    
        .team-work {
            text-align: center;
        }
    
        .profi {
            display: flex;
            flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            gap: 30px;
        }
}
@media screen and (min-width: 1200px) {
    .list-images-work {
        padding-bottom: 50px;
    }
    .name-staff {
            font-size: 16px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            color: var(--titel-link-color);
            margin-bottom: 10px;
        }
    
        .about-staff {
            font-size: 16px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            color: var(--p-text-color);
            margin-bottom: 16px;
        }
    
        .name-staf-cards {
            display: block;
            text-align: center;
            padding: 30px;
        }
    
        .about-team-back {
            width: 270px;
        }
    
        .our-advantages {
            padding-top: 94px;
            padding-bottom: 94px;
            background: var(--bacground-color-advantages);
    
            .about-team-back {
                background: var(--bacground-color);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 0px 4px 4px;
            }
        }
    
        .team-work {
            text-align: center;
        }
    
        .profi {
            display: flex;
            gap: 30px;
        }
}