:root {
    --p-text-color: #757575;
    --bacground-color: #ffffff;
    --another-bacground-color: #f5f4fa;
    --board-bacground-color: #2f303a;
    --titel-link-color: #212121;
    --contacts-link-color: #757575;
    --hovers-and-logo-color: #2196f3;
    --logo-w-color: #000000;
    --logo-plus-color: #ffffff;
    --address-bord-color: #ffffff;
    --botton-colors-portfolio: #f5f4fa;
    --bacground-color-knopka: #188ce8;
    --bacground-color-advantages: #f5f4fa;
    --border-portfolio-pic: #eeeeee;
    --social-icon-color: #afb1b8;
}